* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

#mobile {
    display: none;
}
#menu
{
    display: none;
}
.head {
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.head .left {
    width: 5%;
    padding: 0.3%;
}

.head .left img {
    width: 100%;
}

.head .middle {
    font-size: 250%;
    padding-top: 0.7%;
    padding-left: 2%;
    width: 30%;
}

.head nav {
    width: 65%;
    display: flex;
    justify-content: end;
}

.head nav a {
    text-decoration: none;
    color: white;
    font-size: 150%;
    margin-right: 2%;
    padding-top: 3%;
}

.head nav a:hover {
    color: aqua;
}

.home-container {
    display: flex;
}

.home-container .left {
    border: 1px solid #919191;
    padding-top: 24%;
    padding-bottom: 24%;
    position: fixed;
    text-align: center;
    width: 10%;
}

.home-container .right {
    border: 1px solid #919191;
    padding-top: 24%;
    padding-bottom: 24%;
    position: fixed;
    margin-left: 90%;
    width: 10%;
    text-align: center;
}

.home-container .center {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5.5%;
    width: 80%;
}

.home-container .center
{
    display: flex;
}
.home-container .center .left-center
{
    border-right: 0.5px solid black;
    width: 30%;
}
.home-container .center .left-center .other_news
{
    background-color: black;
    width: 80%;
    margin-left: 5%;
    color: white;
    font-size: 150%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding: 5%;
}
.home-container .center .right-center
{
    border-left: 0.5px solid black;
    width: 70%;
    padding: 5%;
}
.home-container .center .right-center .image
{
    width: 100%;
}
.home-container .center .right-center .image img
{
    width: 100%;
    height: 100%;
}
.home-container .center .right-center .title
{
    font-size: 200%;
}
@media(max-width:320px)
{
    #adv
    {
        display: none;
    }
    .home-container .center
    {
        margin-top: 20%;
    }
    .other-news
    {
        display: block;
    }
    .other-news .card
    {
        margin-top: 1%;
    }
    .other-news .card .title
    {
        font-size: 100%;
    }
    .home-container .center .heading
    {
        font-size: 200%;
    }
    .home-container .center .story .title
    {
        font-size: 150%;
    }
    .head .left
    {
        width: 15%;
    }
    .head .middle
    {
        font-size: 150%;
        width: 70%;
        text-align: left;
        margin-right: 1%;
        padding-top: 3%;
    }
    #desktop
    {
        display: none;
    }
    #mobile
    {
        position: absolute;
        display: block;
        background-color: rgba(0,0,0,0.8);
        width: 100%;
        margin-top: 15%;
        padding-bottom: 2%;
        display: none;
    }
    #menu
    {
        display: block;
        background-color: black;
        width: 15%;
        border: none;
    }
    #menu img
    {
        width: 100%;
    }
    #mobile .button
    {
        margin-top: 3%;
        padding-left: 5%;
    }
}