* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}

#mobile {
    display: none;
}

.head {
    display: flex;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.head .left {
    width: 5%;
    padding: 0.3%;
}

.head .left img {
    width: 100%;
}

.head .middle {
    font-size: 250%;
    padding-top: 0.7%;
    padding-left: 2%;
    width: 30%;
}

.head nav {
    width: 65%;
    display: flex;
    justify-content: end;
}

.head nav a {
    text-decoration: none;
    color: white;
    font-size: 150%;
    margin-right: 2%;
    padding-top: 3%;
}

.head nav a:hover {
    color: aqua;
}

.home-container {
    display: flex;
}

.home-container .left {
    border: 1px solid #919191;
    padding-top: 24%;
    padding-bottom: 24%;
    position: fixed;
    text-align: center;
    width: 10%;
}

.home-container .right {
    border: 1px solid #919191;
    padding-top: 24%;
    padding-bottom: 24%;
    position: fixed;
    margin-left: 90%;
    width: 10%;
    text-align: center;
}

.home-container .center {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5.5%;
    width: 80%;
}